<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Inspire Cook</title>
  <link rel="stylesheet" type="text/css" href="app.component.css">
</head>
<body>
<!-- Toolbar -->
<!--<div class="toolbar" role="banner">-->
<!--  <img-->
<!--    width="100"-->
<!--    alt="Logo"-->
<!--    src="../assets/logo.png"-->
<!--  />-->
<!--</div>-->

<!--<ul id="dynamic-list" class="item-list" *ngFor="let recipe of recipes">-->
<!--    <li class="recipe">-->
<!--      <p>{{recipe.name}}</p>-->
<!--    </li>-->
<!--</ul>-->

<!--<h1>Angular Router App</h1>-->

<!--<a [routerLink]="['/first-page']">First Component</a>-->
<a>ce faci frate?</a>
<router-outlet></router-outlet>
</body>
</html>
