.toolbar {
  background: #c2e8c2;
  display: flex;
  align-items: normal;
  justify-content: space-between;
  height: 80px;
  padding: 0 20px;
}

.toolbar img {
  width: 180px;
  align-self: baseline;
}

.toolbar a.login {
  margin-right: 30px;
  align-self: center;
}
