.toolbar {
  background: #c2e8c2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}

.toolbar img {
  width: 180px;
  align-self: baseline;
}

.toolbar a {
  alignment: right;
  margin-right: 30px;
  margin-bottom: 20px;
}

